


#project-box{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: center;
}

.swiper{
    width: 50%;
    height: 80%;
}

.swiper-slide {
    display: flex;
    padding: 50px;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: black;
}

.project-name{
    font-style: none;
    font-size: 20px;
    font-weight: 600;
    font-family: Staatliches, sans-serif;
    letter-spacing: 4px;
}

.view-container{
    display: flex;
    justify-content: space-between;
}

video{
    width: 70%;
    border-radius: 10px;
}

.project-description{
    text-align: left;
    font-family: "finlandica", sans-serif;
    font-size: 20px;
    font-weight: 200;
}

.project-btn-container{
    flex: 1;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
    color: black;

}

.project-button{
    width: 80%;
    font-size: 17px;
    padding: 15px 0;
    border: 1px solid black;
    border-radius: 5px;
    background-color: #E4DCCF;
    color: white;
    text-align: center;
}

.swiper-slide button{
    font-family: "finlandica", sans-serif;
    color: black;
}



/*---------- First --------*/
.swiper-slide:nth-child(1){
    /*background-color: rgb(206, 17, 17);*/
    background-color: #F87474;
}




.swiper-slide:nth-child(2){
    background-color: rgb(0, 140, 255);
}

.swiper-slide:nth-child(3){
    background-color: rgb(10, 184, 111);
}

.swiper-slide:nth-child(4   ){
    background-color: rgb(211, 122, 7);
}

